

{% extends "base_template.html" %}


{% block title %}Just another Data Analytics playground {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}





{% block page_content %}
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="panel panel-default">
                  <div class="panel-heading text-center"><h3 class="hl" id="panels">{{ about | safe }}</h3> </div>
                  <div class="panel-body">
                        <div class="alert alert-warning alert-dismissible"><p class="lead text-center"> Browse iPython <a href="http://richardafolabi.github.io/Presentation_js/US_Telecoms_Infrastructures.slides.html" target="_blank"><strong>Telecom project notebook as reveal.js slide deck.</strong></a></p></div>
                      {% if div %}

                          {{ script | safe }}
                          {{ div | safe }}

                      {% elif plot_images %}
                          {% for img in plot_images %}
                            <div class="col-md-4">
                                <img src="{{ url_for('static', filename= img|string() ) | e }}" class="img-responsive">
                            </div>
                          {% endfor %}
                      {% else %}
                          <img src="{{url_for('static',filename="img/fiber-optix-links.png")}}" class="img-responsive">
                      {% endif %}
                  </div>
              </div>
          </div>
        </div>

        {% if description %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {% set panel_colr = ['info-board-green', 'info-board-red', 'info-board-orange', 'info-board-blue'] | random %}
                    <div class="info-board {{ panel_colr }}">
                        <p> {{ description | e}}</p>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>



    <div class="container">

        <div class="row">
                <div class="block-header">
                    <h2> <span class="title">RUN QUERIES - EXPLORE THE DATA</span><span class="decoration"></span>
                    <span class="decoration"></span><span class="decoration"></span> </h2>
                </div>


        </div>

        <div class="row">
          <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-location-arrow ui-icon"></i> <strong>Query by Cities</strong></div>
                <div class="panel-body">
                    <form name="city" method="post">
                        <p><button type="submit" name="submit" value="city_btn1"
                                   class="btn btn-success btn-lg btn-block">Cities w/ Top Incoming Links</button></p>
                        <p><button type="submit" name="submit" value="city_btn2"
                                   class="btn btn-danger btn-lg btn-block">Cities w/ Low Outgoing Links</button></p>
                        <p><button type="submit" name="submit" value="city_btn3"
                                   class="btn btn-primary btn-lg btn-block">Cities Utilization Differences</button></p>
                        <p><button type="submit" name="submit" value="city_btn4"
                                   class="btn btn-dark btn-lg btn-block">City Connection Correlations</button></p>
                    </form>
                </div>
              </div>
          </div>


          <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-university ui-icon"></i> <strong>Query by States</strong></div>
                <div class="panel-body">
                    <form name="state" method="post">
                        <p><button type="submit" name="submit" value="state_btn1"
                                   class="btn btn-success btn-lg btn-block">States w/ Top Incoming Links</button></p>
                        <p><button type="submit" name="submit" value="state_btn2"
                                   class="btn btn-danger btn-lg btn-block">States w/ Low Outgoing Links </button></p>
                        <p><button type="submit" name="submit" value="state_btn3"
                                   class="btn btn-primary btn-lg btn-block">Utilization Difference</button></p>
                        <p><button type="submit" name="submit" value="state_btn4"
                                   class="btn btn-dark btn-lg btn-block">State Links Correlations</button></p>
                    </form>
                </div>
              </div>
          </div>


          <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-pie-chart ui-icon"></i> <strong> Analysis Query</strong></div>
                <div class="panel-body">
                    <form name="analysis" method="post">
                        <p><button type="submit" name="submit" value="analysis_btn1"
                                   class="btn btn-success btn-lg btn-block">View on Interactive US Map</button></p>
                        <p><button type="submit" name="submit" value="analysis_btn2"
                                   class="btn btn-danger btn-lg btn-block" disabled="disabled">Visualize as Network Graphs</button></p>
                        <p><button type="submit" name="submit" value="analysis_btn3"
                                   class="btn btn-primary btn-lg btn-block"  disabled="disabled">Telecom Op. Link Share Graph</button></p>
                        <p><button type="submit" name="submit" value="analysis_btn4"
                                   class="btn btn-dark btn-lg btn-block" disabled="disabled">Predict Fiber Link Outage</button></p>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>




{% endblock page_content %}

