

{% extends "base_template.html" %}


{% block title %}Just another Data Analytics playground {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}





{% block page_content %}
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="hl text-center top-zero section-header">In Progress!</h1>
                  <div class="panel panel-default">

                  </div>
              </div>
            </div>
        </div>




{% endblock page_content %}

